* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4em;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  background-color: lightgrey;
  z-index: 5;
  width: 100%;
}

nav li {
  display: inline-block;
  margin-left: 0.2em;
  border: solid 2px cornflowerblue;
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
  background-color: cornflowerblue;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  max-width: 60em;
  padding: 0em 1em 1em;
  position: relative;
  top: 6em;
}

section {
  padding: 2em 0;
}

#about {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}

#about div {
  min-width: 15em;
  max-width: 30em;
}

#about img {
  height: 20em;
  margin: auto 2em;
  border-radius: 0.5em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.badge {
  width: 8em;
}

.badge img {
  width: 5em;
  display: block;
  margin: auto;
}

.badge h3 {
  text-align: center;
  margin: 0.2em auto;
}

footer {
  text-align: center;
  font-size: smaller;
}