* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4em;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  background-color: lightgrey;
  z-index: 5;
  width: 100%;
}

@media only screen and (min-width: 651px) {
  #hamburger-icon {
        display: none;
}

  nav li {
    display: inline-block;
    margin-left: 0em;
    border: solid 2px cornflowerblue;
    border-radius: 0.1em;
    padding: 0.5em 0.5em;
    background-color: cornflowerblue;
  }
}

@media only screen and (max-width: 650px) {
  /* Hamburger menu */
  #hamburger-icon {
    display: initial;
  }
  nav li {
    display: block;
    margin-left: 0.2em;
    border: solid 2px cornflowerblue;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    background-color: cornflowerblue;
  }
}

nav li a {
  color: white;
  font-weight: bold;
}

main {
  max-width: 60em;
  padding: 0em 1em 1em;
  position: relative;
  top: 6em;
}

section {
  padding: 2em 0;
}

#about {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}

#about div {
  min-width: 15em;
  max-width: 30em;
}

#about img {
  height: 20em;
  margin: auto 2em;
  border-radius: 0.5em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project {
  width: 10em;
}

.project h3 {
  text-align: center;
  margin: 0.2em auto;
}

.project img {
  width: 8em;
  display: block;
  margin: auto;
}

.badge {
  width: 8em;
}

.badge h3 {
  text-align: center;
  margin: 0.2em auto;
}

.badge img {
  width: 5em;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  font-size: smaller;
}