* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 4em;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  background-color: lightgrey;
  z-index: 5;
  width: 100%;
  height: 4em;
}

header span {
  width: 5%;
  max-width: 20em;
}

nav {
  display: flex;
  justify-content: center;
}

#hamburger-icon {
  display: none;
}

.fa {
  font-size: 2em !important;
}

.wide-menu li {
  display: inline-block;
  margin-left: 0.2em;
  border: solid 2px cornflowerblue;
  background-color: cornflowerblue;
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #ddd;
  }

  header {
    background-color: #333;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: #fff;
    color: #222;
  }
}

@media only screen and (max-width: 650px), (max-aspect-ratio: 1) {
  /* Hamburger menu */
  header {
    bottom: 0px;
    top: initial;
    height: 3em;
  }

  #hamburger-icon {
    display: initial;
    position: absolute;
    right: 0.7em;
  }

  .wide-menu li {
    display: none;
  }

  .narrow-menu {
    display: block;
    position: absolute;
    bottom: 64px;
    right: 0;
    margin-left: 0em;
    border: solid 2px cornflowerblue;
    border-radius: 0em;
    padding: 0.1em 0.5em;
    background-color: cornflowerblue;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: larger;
  }

  .narrow-menu li {
    margin: 0.9em 0.3em;
  }

  main {
    top: 0em !important;
  }
}

nav li a {
  color: white;
  font-weight: bold;
}

main {
  max-width: 60em;
  padding: 0em 1em 1em;
  position: relative;
  top: 6em;
}

section {
  padding: 2em 0;
}

#about {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
}

#about div {
  min-width: 15em;
  max-width: 30em;
}

#about img {
  height: 20em;
  margin: auto 2em;
  border-radius: 0.5em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.project {
  width: 10em;
}

.project h3 {
  text-align: center;
  margin: 0.2em auto;
}

.project img {
  width: 8em;
  display: block;
  margin: auto;
}

.badge {
  width: 8em;
}

.badge h3 {
  text-align: center;
  margin: 0.2em auto;
}

.badge img {
  width: 5em;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  font-size: smaller;
}